@page "/"

<PageTitle>Index</PageTitle>

<h1>Dragonchess</h1>

<p>Welcome to Dragonchess! Rules can be found on wikipedia <a href="https://en.wikipedia.org/wiki/Dragonchess" target="_blank">here</a> or on chessvariants.com <a href="https://www.chessvariants.com/3d.dir/dragonchess.html" target="_blank">here</a></p>

<p>The above sources include clarifications to the original source (Dragon Magazine No. 100), which can be found <a href="https://ia803109.us.archive.org/8/items/DragonMagazine260_201801/DragonMagazine100.pdf" target="_blank">here</a></p>
